/*
Color variables
..........................................................*/
$primary-color: #ffffff;
$black-color: hsl(0, 0%, 0%);
$secondary-color: #24d394;
/*........................................................*/
